@import './index';

#aboutMe {
    padding-top: 70px;
    width: 75%;
    margin: 0 auto;

    p {
        font-size: 1.2rem;
    }

    a {
        display: block;
        border: 1px solid $subHeaderFontColor;
        background-color: $subHeaderFontColor;
        padding: 4px;
        width: 100px;
        text-decoration: none;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        margin: 0 auto;
    }

    a:hover {
        background-color: #fff;
        color: $darkTertiaryColor;
        border-color: $darkTertiaryColor;
    }
}

@media screen and (max-width: 1000px) {
    #aboutMe p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 900px) {
    #aboutMe p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    #aboutMe {
        width: 80%;
    }
}