@import './index';

footer {
    background-color: #f4eeee;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    color: #322e2e;
}

footer p {
    margin: 0;
}

footer div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}


#footer-socials {
    display: flex;
    gap: 15px;
}
.social-icons-footer {
    font-size: 1.6rem;
    color: #2b2626;
    transition: transform 0.3s ease-in-out;
}

.social-icons-footer:hover {
    transform: scale(1.3);
}

@media screen and (max-width: 800px){
    #footer-socials {
        gap: 13px;
    }

    .social-icons-footer {
        font-size: 1.4rem;
    }
}


@media screen and (max-width: 440px){
    #footer-socials {
        gap: 10px;
    }

    footer {
        padding-right: 8px;
        padding-left: 8px;
    }

    #footer-socials {
        flex-wrap: wrap;
        width: 100px;
        justify-content: center;
    }

    .social-icons-footer {
        font-size: 1.2rem;
    }

    footer img {
        height: 50px;
    }
}

@media screen and (max-width: 380px){

    .social-icons-footer {
        font-size: 1rem;
    }

}