@import "./index";

@keyframes bounce {
  0% {
    transform: translateY(-300px);
  }
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(300px);
  }
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(30px);
  }
  60% {
    transform: translateX(15px);
  }
}

#home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 95vh;
  padding-top: 50px;
  padding: 5px;
}

#home-text-content p {
  color: $subHeaderFontColor;
  font-size: 2rem;
  font-style: italic;
  animation: fadeIn 1s ease-in;
}

#home-text-content h1 {
  color: $darkTertiaryColor;
  font-size: 10rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  //font-family: 'Comic Sans MS', cursive, sans-serif; /* Use a fun font */
  font-style: italic;
  animation: bounce 1.5s ease-in-out; /* Add bounce animation */
}

#home-headshot-container {
  height: 380px;
  width: 380px;
  border-radius: 50%;
  background-color: $secondaryHeaderFooterColor;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: slideInFromRight 1.5s ease-in-out;
}

#home-headshot-container img {
  height: 550px;
}

@media screen and (max-width: 1300px) {
  #home-headshot-container {
    position: relative;
    top: 30px;
  }
}

@media screen and (max-width: 1200px) {
  #home {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  #home-text-content h1 {
    font-size: 9rem;
  }

  #home-text-content p {
    font-size: 1.6rem;
  }

  #home-headshot-container {
    height: 300px;
    width: 300px;
  }

  #home-headshot-container img {
    height: 500px;
  }
}

@media screen and (max-width: 800px) {
  #home-text-content h1 {
    font-size: 8rem;
  }

  #home-text-content p {
    font-size: 1.5rem;
  }

  #home-headshot-container {
    height: 280px;
    width: 280px;
  }

  #home-headshot-container img {
    height: 450px;
  }
}

@media screen and (max-width: 600px) {
  #home {
    gap: 40px;
  }

  #home-text-content h1 {
    font-size: 6.5rem;
  }

  #home-text-content p {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  #home-headshot-container {
    height: 250px;
    width: 250px;
  }

  #home-headshot-container img {
    height: 420px;
  }
}

@media screen and (max-width: 480px) {
  #home {
    gap: 30px;
  }

  #home-text-content {
    margin-left: 10px;
  }

  #home-text-content h1 {
    font-size: 5rem;
  }

  #home-text-content p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  #home-headshot-container {
    height: 230px;
    width: 230px;
  }

  #home-headshot-container img {
    height: 400px;
  }
}

@media screen and (max-width: 365px) {
  #home-text-content h1 {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 335px) {
  #home {
    gap: 40px;
  }

  #home-text-content h1 {
    font-size: 3rem;
  }

  #home-text-content p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  #home-headshot-container {
    height: 180px;
    width: 180px;
  }

  #home-headshot-container img {
    height: 320px;
  }
}

@media screen and (max-height: 870px) and (max-width: 1200px) {
  #home-text-content h1 {
    font-size: 6rem;
  }

  #home-text-content p {
    font-size: 1.5rem;
  }
}

@media screen and (max-height: 795px) and (max-width: 1200px) {
  #home-text-content h1 {
    font-size: 5rem;
  }

  #home-headshot-container {
    height: 250px;
    width: 250px;
  }

  #home-headshot-container img {
    height: 400px;
  }
}

@media screen and (max-height: 700px) and (max-width: 1200px) {
  #home-text-content h1 {
    font-size: 5rem;
  }

  #home-text-content p {
    font-size: 1.3rem;
  }

  #home-headshot-container {
    height: 200px;
    width: 200px;
  }

  #home-headshot-container img {
    height: 380px;
  }
}

@media screen and (max-height: 620px) and (max-width: 1200px) {
  #home-headshot-container {
    display: none;
  }
}

@media screen and (max-height: 340px) and (max-width: 1200px) {
  #home-text-content h1 {
    font-size: 5rem;
  }

  #home-text-content p {
    font-size: 1rem;
  }
}